@{
    ViewData["Title"] = "Home Page";
}

<div class="row align-items-center">

    <div class="col gy-3">
        <img class="img-fluid" src="https://pm1.aminoapps.com/7237/94fe40c3aa9680e7b8d05c731e51be5c9bbde84ar1-551-628v2_00.jpg" />
    </div>
    <div class="col gy-3">
        <img class="img-fluid" src="https://pm1.aminoapps.com/7237/94fe40c3aa9680e7b8d05c731e51be5c9bbde84ar1-551-628v2_00.jpg" />
    </div>
    <div class="col gy-3">
        <img class="img-fluid" src="https://pm1.aminoapps.com/7237/94fe40c3aa9680e7b8d05c731e51be5c9bbde84ar1-551-628v2_00.jpg" />
    </div>
    <div class="col gy-3">
        <img class="img-fluid" src="https://pm1.aminoapps.com/7237/94fe40c3aa9680e7b8d05c731e51be5c9bbde84ar1-551-628v2_00.jpg" />
    </div>

</div>